<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Carrito de pedido</title>
</head>

<body>

    <div class="container">
        <div class="row-1">
            <header class="d-flex justify-content-between align-items-center">
                <h1>Bienvenid@ a su Pañalera Mis Pasitos</h1>
                <a href="/pedidos" class="btn btn-primary">Regresar</a>
                <a href="/logout" class="btn btn-danger">Cerrar Sesión</a>
            </header>
        </div>



        <div class="container">


            <div class="col-8">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Imagen</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">aumentar</th>
                            <th scope="col">disminuir</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for idx in range(productos|length) %}

                        <tr>
                            <th scope="row"><img src=" ../static/img/{{productos[idx].imagen}}" class="imagen1"
                                    alt="..."></th>
                            <td>{{productos[idx].name}}</td>
                            <td>{{productos[idx].precio}}</td>
                            <td>{{cantidades[idx]}}</td>
                            <td>
                                <form action="/sumar/checkout" method="post">
                                    <input type="hidden" name="id" value="{{productos[idx].id}}">
                                    <button type="submit" class="btn btn-primary">Agregar</button>
                                </form>

                            </td>


                            <!-- <form action="/sumatoria" method="post">
                                        <td><a href="/sumatoria/{{productos[idx].id}}" class="btn btn-danger">Agregar</a></td>
                                    </form> -->


                            <td>
                                <form action="/restar/checkout" method="post">
                                    <input type="hidden" name="id" value="{{productos[idx].id}}">
                                    <button type="submit" {% if cantidades[idx]==1 %} disabled {% endif %}
                                        class="btn btn-primary">Restar</button>
                                </form>

                            </td>
                            <form action="/delete_checkout" method="post">
                                <td><a href="/delete_checkout/{{productos[idx].id}}" class="btn btn-danger">Borrar</a>
                                </td>
                            </form>

                        </tr>
                        {% endfor %}

                        <tr>

                            <th></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                            <td><strong>Subtotal</strong></td>

                            <td>{{subtotal}}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Iva</strong></td>
                            <td>{{iva}}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td>{{total}}</td>

                        </tr>

                        <tr>
                            <th></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <form action="/ingresar/factura" method="post">
                                    <input type="hidden" value="{{user.id}}" name="user_id">
                                    <input type="hidden" value="{{total}}" name="total">
                                    <input type="hidden" value="{{subtotal}}" name="subtotal">
                                    <input type="hidden" value="{{iva}}" name="iva">

                                    <div class="form-group">
                                        <label for="direccion">Direccion:</label>
                                        <input type="text" id="direccion" name="direccion" class="form-control" required>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label for="fecha">Fecha</label>
                                        <input type="date" id="date" name="fecha" class="form-control" required>
                                    </div>
                                    <hr>

                                    <button type="submit">facturar</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <div class="row-7">
                    <form action="/update/pedido" method="post">



                        <!-- <input type="submit" value="Cancel" class="btn btn-success">
                            <input type="submit" value="update"  class="btn btn-success"> -->
                    </form>
                </div>
            </div>

        </div>
    </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>